{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container">
    {%if messages%}
    {%for message in messages%}
        {{message}}
    {%endfor%}
    {%endif%}
</div>
<div class="container">
    {%if models%}
    <div class="check">
        {%for i in models%}
            <div class= "data">
                <p>Name: {{i.firstName}} {{i.lastName}}</p>
                <p>BloodGroup: {{i.bloodGroup}}</p>
            </div>
        {%endfor%}
    </div>
    {%endif%}
</div>

{%endblock%}