{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="main">
<div class="jumbotron">
    <div class="container">
      <section class="banner-area relative" id="home">
			<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-start" style="height: 915px;">
						<div class="banner-content col-lg-9 col-md-12">
							<h1>
								Help save a life, <br>
								give a gift of blood
							</h1>
                            <a href="#donate" class="head-btn btn text-uppercase"><button class="btn btn-info">GET STARTED</button></a>
                        </div>
					</div>
				</div>
			</div>
        </section>
    </div>
</div>
</div>
{%endblock%}